<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header'>
      <div class='modal-area' id='modal-area' v-show='modalFlag' v-on:click.self='log_in_cancel()'>
        <div class='modal'>
          <%= form_with url: '#' do |form| %>
            <div class='login-grid'>
              <div><%= form.label :login_id, 'ID', class: 'item label' %></div>
              <div><%= form.text_field :login_id, class: 'item input' %></div>
              <div><%= form.label :login_password, 'Password', class: 'item label' %></div>
              <div><%= form.password_field :login_password, class: 'item input' %></div>
            </div>
            <%= form.submit 'login', class: 'btn login-btn' %>
          <% end %>
          <button class='btn test-login-btn'>test_login</button>
        </div>
      </div>
      <h1 class='title' id='title'>TITLE</h1>
      <div class='top-bar' id='top-bar'>
        <div class='top-bar-btn' v-show='!loginFlag' v-on:click='log_in()'>login</div>
        <div class='top-bar-btn' v-show='!loginFlag'>signup</div>
        <div class='top-bar-btn' v-show='loginFlag'>mypage</div>
        <div class='top-bar-btn' v-show='loginFlag'  v-on:click='log_out()'>logout</div>
      </div>
      <nav class='nav' id='nav'>
        <ul class='nav-list'>
          <li class='nav-list-item'><a href='#'>TOP</a></li>
          <li class='nav-list-item'>ABOUT</li>
          <li class='nav-list-item'>CONTACT</li>
        </ul>
      </nav>
    </header>
    <main class='<%= controller.controller_name %> <%= controller.controller_name %>_<%= controller.action_name %>'>
      <%= yield %>
    </main>
    <footer class='footer'>
      <div class='copyright'>©hogehoge company</div>   
    </footer>
  <%= javascript_pack_tag 'header' %>
  </body>
</html>
