<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header'>
      <div class='modal-area hidden' id='modal-area' v-on:click.self='log_in_cancel()'>
        <div class='modal'>
          <%= form_with url: '/login', data: {remote: true} do |form| %>
            <div class='login-grid'>
              <div class='item label'><div class='flex-label'><%= form.label :name, 'ID' %></div></div>
              <div class='item input'><div class='flex-input'><%= form.text_field :name %></div></div>
              <div class='item label'><div class='flex-label'><%= form.label :login_password, 'Password' %></div></div>
              <div class='item input'><div class='flex-input'><%= form.password_field :login_password %></div></div>
            </div>
            <%= form.submit 'login', class: 'btn login-btn' %>
            <div class='login-fail'></div>
          <% end %>
          <button type='button' onclick="location.href='/guest_login'" class='btn test-login-btn'>guest login</button>
        </div>
      </div>
      <h1 class='title' id='title'><a href='/songlist'>TITLE</a></h1>
      <div class='top-bar' id='top-bar'>
        <% if logged_in? %>
          <%= render 'layouts/logged_in' %>
        <% else %>
          <%= render 'layouts/not_logged_in' %>
        <% end %>
      </div>
      <nav class='nav' id='nav'>
        <ul class='nav-list'>
          <li class='nav-list-item'><%= link_to 'TOP', '/songlist' %></li>
          <li class='nav-list-item'><%= link_to 'ABOUT', '/songlist/about' %></li>
          <li class='nav-list-item'><%= link_to 'CONTACT', '/songlist/contact' %></li>
        </ul>
      </nav>
    </header>
    <main class='<%= controller.controller_name %> <%= controller.controller_name %>_<%= controller.action_name %>'>
      <%= yield %>
    </main>
    <footer class='footer'>
      <div class='copyright'>©copyright by hogehoge inc.</div>   
    </footer>
    <%= javascript_pack_tag 'header' %>    
  </body>
</html>
