<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='header'>
      <div class='modal-area' id='modal-area' v-show='modalFlag' v-on:click.self='log_in_cancel()'>
        <div class='modal'>
          <button v-on:click='log_in_ok()'>login</button>
        </div>
      </div>
      <h1 class='title' id='title'>TITLE</h1>
      <div class='top-bar' id='top-bar'>
        <div class='top-bar-btn' v-show='!loginFlag' v-on:click='log_in()'>login</div>
        <div class='top-bar-btn' v-show='!loginFlag'>signup</div>
        <div class='top-bar-btn' v-show='loginFlag'>mypage</div>
        <div class='top-bar-btn' v-show='loginFlag'  v-on:click='log_out()'>logout</div>
      </div>
      <nav class='nav' id='nav'>
        <ul class='nav-list'>
          <li class='nav-list-item'>TOP</li>
          <li class='nav-list-item'>ABOUT</li>
          <li class='nav-list-item'>CONTACT</li>
        </ul>
      </nav>
    </header>
    <main class='<%= controller.controller_name %> <%= controller.controller_name %>_<%= controller.action_name %>'>
      <%= yield %>
    </main>
    <footer class='footer'>
      <div class='copyright'>©hogehoge company</div>   
    </footer>
  <%= javascript_pack_tag 'header' %>
  </body>
</html>
